<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.test.Listeners.ProjectListener"/>
	<listener class-name="com.test.Listeners.ExtentReporterNG"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.test.pack1.LandingPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
